.container{
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
.imageBlock{
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  img{
    border-radius: 10px;
  }
}
.imageTitle{
  font-size: 14px;
  color: #428EE8;
  cursor: pointer;

  &:hover {
    color: #1A4480;
  }
}
.title{
  font-size: 20px;
  color: #9BA0A6;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    color: #1A4480;
  }
}
.statistics{
  display: flex;
  gap: 0 10px;
}
.statisticBlock{
  display: flex;
  gap: 0 10px;
  align-items: center;
}
.quantity{
  font-size: 14px;
  color: gray;
  cursor: pointer;
}