.container{
  border: 1px solid #D6D6D6;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}
.img{
  width: 266px;
  max-height: 150px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.title{
  font-size: 25px;
  margin-bottom: 20px;
  color: #428EE8;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}
