.wrapper{
  background-color: #E54545;
  padding: 10px;
}
.container{
  color: white;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
  font-size: 20px;
  font-weight: 700;
}
.text{
  font-size: 18px;
  font-weight: 700;
}