.left {
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

.container {
  display: flex;
  gap: 0 20px;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.statisticBlock {
  display: flex;
  gap: 0 10px;
  margin-top: 10px;
}

.statisticItem {
  display: flex;
  gap: 0 5px;
  align-items: center;
}

.quantity {
  font-size: 14px;
  color: gray;
  cursor: pointer;
}
.name{
  color: #428EE8;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 8px;
  cursor: pointer;
}
.text{
  color: #37404d;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}